In [11]:
#import libraries
import pandas as pd
import sqlite3
import os
os.getcwd()

'C:\\Users\\amahm\\Documents\\Classes\\CodeLouisville\\Python\\Notebooks'

In [17]:
#import csv file
df = pd.read_csv("data/apartmentdata.csv")

# create the sqlite DB
db = sqlite3.connect("data/apartments.db")

# convert the pandas dataframe to a sqlite table
df.to_sql("apartmentsql", db, if_exists="replace")

C:\Users\amahm\Anaconda3\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [19]:
#read first 20 observations from a csv file using sql query
sql = ''' 
SELECT Name, Units 
FROM apartmentsql 
LIMIT 20
'''
pd.read_sql_query(sql,db)

                                Name  Units
0                        310 at NuLu    173
1          800 Tower City Apartments    286
2                       Academy Park    154
3        AddisonPark Apartment Homes    292
4                     AMP Apartments     93
5                    Apex on Preston    312
6                    Applegate Farms    192
7                        Arbor Place    176
8                      Ashby Green I    144
9                           Ashgrove     60
10                      Ashton Brook    274
11                         Aspenwood     98
12  Auburn Place Town & Garden Homes     88
13                       Austin Park    216
14                      Autumn Ridge    104
15                 Axis on Lexington    299
16                    Baptist Towers    198
17                  Bardstown Forest    248
18                       Beech Grove    182
19                     Beverly Manor     28