In [1]:
#import libraries
import pandas as pd
import os
os.getcwd()

'C:\\Users\\amahm\\Documents\\Classes\\CodeLouisville\\Python\\Notebooks'

In [2]:
#import csv file
df = pd.read_csv("data/businesses.csv")
df2 = pd.read_csv("data/inspections.csv")
df3 = pd.read_csv("data/violations.csv")

In [4]:
#read first 20 observations
df.head(20)

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number
0,87593,SICILIAN PIZZA AND PASTA,627 S 4TH ST,LOUISVILLE,KY,40202,38.247844,-85.758056,(502) 457-3206
1,87609,LOGANS ROADHOUSE,1540 ALLIANT AVE,LOUISVILLE,KY,40299,38.220503,-85.537944,(502) 266-6009
2,31334,GOOD SAMARITAN,3500 GOOD SAMARITAN WAY,LOUISVILLE,KY,40299,38.196429,-85.562478,(502) 267-7403
3,32905,EXECUTIVE STRIKE AND SPARE,911 PHILLIPS LN,LOUISVILLE,KY,40209,38.192389,-85.741448,(502) 367-2251
4,32910,BLUE HORSE,830 PHILLIPS LN,LOUISVILLE,KY,40209,38.192118,-85.740712,(502) 367-2251
5,32659,BIG SPRING MAIN KITCHEN,5901 DUTCHMANS LN,LOUISVILLE,KY,40205,38.231209,-85.650284,(502) 459-2622
6,32660,JEWISH COMMUNITY CENTER KITCHEN,3600 DUTCHMANS LN,LOUISVILLE,KY,40205,38.225128,-85.649620,(502) 458-3281
7,32724,MOOSE LODGE #5,4615 FEGENBUSH LN,LOUISVILLE,KY,40228,38.182007,-85.637156,(502) 499-8875
8,32727,RUTHS CHRIS STEAK HOUSE,6100 DUTCHMANS LN,LOUISVILLE,KY,40205,38.228333,-85.639345,(502) 479-0026
9,32733,WHITE CASTLE #10,793 EASTERN PKWY,LOUISVILLE,KY,40217,0.000000,0.000000,(502) 634-3322
10,32765,WOMANS CLUB OF LOUISVILLE,1320 S 4TH ST,LOUISVILLE,KY,40208,38.232113,-85.761282,(502) 634-9437
11,32358,ARBYS #5430,10704 DIXIE HWY,LOUISVILLE,KY,40272,38.098191,-85.872522,(502) 935-1329
12,32112,CHEDDAR BOX,3909 CHENOWETH SQUARE,LOUISVILLE,KY,40207,38.254887,-85.654276,(502) 897-2334
13,32114,CORNER CAFE AND PIZZERIA,9307 NEW LAGRANGE RD,LOUISVILLE,KY,40242,0.000000,0.000000,(502) 426-8119
14,32384,STRATHMOOR EDUCATION CENTER,2201 HAWTHORNE AVE,LOUISVILLE,KY,40205,38.216993,-85.676320,(502) 458-6585
15,32531,BOYS AND GIRLS HAVEN #1,2301 GOLDSMITH LN,LOUISVILLE,KY,40218,38.210195,-85.665766,(502) 458-1471
16,32802,KFC Y052-016,5012 S 3RD ST,LOUISVILLE,KY,40214,38.174052,-85.767781,(502) 366-2673
17,32804,ARBYS #194,5022 S 3RD ST,LOUISVILLE,KY,40214,38.173615,-85.767872,(502) 366-8435
18,32815,HITCHING POST INN,7314 FEGENBUSH LN,LOUISVILLE,KY,40228,38.143077,-85.624168,(502) 239-4724
19,32818,FORD MOTOR CO CAFETERIA,2000 FERN VALLEY RD,LOUISVILLE,KY,40232,38.154797,-85.725205,(502) 366-9511

In [5]:
#read first 20 observations
df2.head(20)

    business_id  score      date  description      type
0         34073   94.0  20100503          NaN   routine
1         37108   98.0  20100503          NaN   routine
2         74656   94.0  20100503          NaN   routine
3         33694   96.0  20100504          NaN   routine
4         32866   98.0  20100504          NaN   routine
5         32866   98.0  20100504          NaN   routine
6         66108   95.0  20100504          NaN   routine
7         33099   96.0  20100505          NaN   routine
8         73987   95.0  20100505          NaN   routine
9         81107   94.0  20100505          NaN   routine
10        77990    0.0  20100505          NaN  followup
11        57936   95.0  20100505          NaN   routine
12        83592   96.0  20100505          NaN   routine
13        65217  100.0  20100506          NaN   routine
14        35086   96.0  20100506          NaN   routine
15        85391    0.0  20100506          NaN  followup
16        84064   97.0  20100506          NaN   routine
17        69770   94.0  20100506          NaN   routine
18        63315   94.0  20100506          NaN   routine
19        65217  100.0  20100506          NaN   routine

In [6]:
#read first 20 observations
df3.head(20)

,business_id,date,code,description
0,29790,20181212,NaN,Food/non-food contact surfaces not approved or...
1,29790,20181212,NaN,Non-food contact surfaces of equipment/utensil...
2,29790,20181212,NaN,"Wall/Ceiling improperly constructed, not in go..."
3,29790,20181212,NaN,"Floor improperly constructed, not draining, no..."
4,29790,20180709,NaN,"Floor improperly constructed, not draining, no..."
5,29790,20180709,NaN,Food/non-food contact surfaces not approved or...
6,29790,20180709,NaN,Non-food contact surfaces of equipment/utensil...
7,29790,20180709,NaN,"Wall/Ceiling improperly constructed, not in go..."
8,29790,20180301,NaN,Food/non-food contact surfaces not approved or...
9,29790,20180301,NaN,"Floor improperly constructed, not draining, no..."
10,29790,20180301,NaN,Non-food contact surfaces of equipment/utensil...
11,29790,20180301,NaN,Premises not free of litter or miscellaneous a...
12,29790,20180301,NaN,"Wall/Ceiling improperly constructed, not in go..."
13,29790,20171018,NaN,"Floor improperly constructed, not draining, no..."
14,29790,20171018,NaN,Food/non-food contact surfaces not approved or...
15,29790,20171018,NaN,Non-food contact surfaces of equipment/utensil...
16,29790,20171018,NaN,"Outer opening not sealed (doors, hole in wall"
17,29790,20171018,NaN,"Wall/Ceiling improperly constructed, not in go..."
18,29790,20170515,NaN,Food/non-food contact surfaces not approved or...
19,29790,20170515,NaN,"Floor improperly constructed, not draining, no..."